.profil-container {
  display: flex;
  justify-content: space-between;
  margin:20px;
  h1 {
   font-size: 24px;
   text-align:center;
  }
  h2 {
  font-size: 12px;
  text-align: center;
  }
  .description {
  word-wrap: break-word;
  margin-top: 10px;
  }
  .profil-page {
    margin-top: 20px;
  }
  .card-content{
    margin-top:80px;
    border: 2px solid #ddd; /* Bordure pour le cadre */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
    background-color: #fff; /* Couleur de fond */
    padding: 15px; /* Espacement intérieur */ /* Activer Flexbox */
  }

  .img-profile {
    position: relative;
    flex: 1; /* Assure une largeur proportionnelle */
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
    align-items: center; /* Centrer horizontalement */
  }

  .img-profile .hover-text {
    position: absolute;
    top: -10%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0; /* Caché par défaut */
    transition: opacity 0.3s ease;
  }

  .img-profile .hover-text i{
    color: white;
  }

  .img-profile:hover .hover-text {
    cursor: pointer;
    opacity: 1;
  }

  .avatar-profil {
    width: 150px; /* Taille de l'image */
    height: 150px;
    border-radius: 50%; /* Pour une image ronde */
    object-fit: cover; /* S'assurer que l'image est bien centrée */
    border: 2px solid #ccc; /* Optionnel : bordure autour de l'image */
    margin-top: -90px;
  }

  .card-info {
    flex: 2; /* Occupe plus d'espace que l'image */
    display: flex;
    flex-direction: column; /* Les informations s'empilent verticalement */
    text-align: left; /* Espacement entre les informations */
  }

  .card-info p {
    margin-top: 2px; /* Supprimer le margin par défaut */
    font-size: 0.9rem; /* Taille du texte */
    color: #333; /* Couleur du texte */
  }

  .rating{
    text-align: center;
  }

  .btn{
    margin: 20px auto;
    display: block;
  }

  .edit-icon {
    margin-left: 10px; /* Espacement avec le texte */
    color: #555; /* Couleur de l'icône */
    cursor: pointer; /* Change le curseur */
    transition: color 0.2s ease;
  }

  .edit-icon:hover {
    color: #ffa500; /* Couleur au survol */
  }

  #default-message {
    margin-bottom:75px;
  }
  .description {
    font-size: small;
  }

  .user-info {
    p {
      padding:5px
    }
  }
}
