h1, h2, h3, h4, h5, p {
  font-family: 'Poppins', sans-serif;
}

p {
  margin:0;
  padding:0;
}

.products {
  display: flex;
  height: 100vh;
}

.products .left-container {
  flex: 2;
  overflow-y: auto;
  position: relative;
  min-height: calc(100vh-56px);
  scrollbar-width: none;
}

.products .left-container::-webkit-scrollbar {
  display: none;
}

.products .left-container .products-grid {
  margin-top: 80px;
}

.products .right-container {
  flex: 1;
  position: relative;
  margin-top: 56px;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.img-owner {
  width: 100%;
  height: 100%;
}


.carousel-inner img {
  width: 100%;      /* S'adapte à la largeur de l'élément parent */
  height: auto;     /* Maintient les proportions */
  max-height: 500px; /* Limite la hauteur */
}

.search-container {
  font-family: "poppins";
  position: sticky;
  top: 80px;
  z-index: 1000;
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.5s ease;
  overflow: hidden;
}
.search-container.expanded {
  width: 90%;
}

.search-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  cursor: pointer;
}

.search-summary span {
  font-size: 14px;
  flex-grow: 1;
  color: #555;
  border-right: solid 1px;
  padding: 0 20px;
  text-align: start;
}

.search-summary button {
  background: none;
  border: none;
  font-size: 14px;
  color: orange;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;
  margin-left:15px;
}

.search-summary button:hover {
  color: darkorange;
  text-decoration: underline;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 25px;
  gap: 15px;
}

.search-form .form-control {
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.search-form .form-group {
  flex: 1;
  min-width: calc(50% - 15px);
}
