h1, h2, h3, h4, h5, p {
  font-family: 'Poppins', sans-serif;
}

p {
  margin:0;
  padding:0;
}

.products {
  display: flex;
  height: calc(100vh - 66px);
}

.left-container {
  flex: 2;
  overflow-y: auto;
}
.right-container {
  flex: 1;
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.img-owner {
  width: 100%;
  height: 100%;
}


// /* Désactiver les contours verts pour les champs validés */
// .form-seleect.is-valid,
// .form-select:valid,
// .form-control.is-valid,
// .form-control:valid,
// .select2-container--default .select2-selection--single .is-valid,
// .select2-container--default .select2-selection--multiple .is-valid {
//   border-color: #ced4da; /* Couleur de bordure par défaut */
// }

// /* Désactiver les icônes de validation */
// // .form-seleect.is-valid,
// // .form-select:valid,
// .form-control.is-valid ~ .valid-feedback,
// .form-control:valid ~ .valid-feedback,
// .select2-container--default .select2-selection--single .is-valid ~ .valid-feedback,
// .select2-container--default .select2-selection--multiple .is-valid ~ .valid-feedback,
// .valid-feedback {
//   display: none;
// }

// /* Désactiver les icônes de coche verte */
// .form-seleect.is-valid,
// .form-select:valid,
// .form-control.is-valid,
// .form-control:valid,
// .select2-container--default .select2-selection--single .is-valid,
// .select2-container--default .select2-selection--multiple .is-valid {
//   background-image: none !important;
// }
