h1, h2, h3, h4, h5, p {
  font-family: 'Poppins', sans-serif;
}

p {
  margin:0;
  padding:0;
}

.products {
  display: flex;
  height: calc(100vh - 66px);
}

.left-container {
  flex: 2;
  overflow-y: auto;
}
.right-container {
  flex: 1;
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.img-owner {
  width: 100%;
  height: 100%;
}

.carousel-inner img {
  width: 100%;      /* S'adapte à la largeur de l'élément parent */
  height: auto;     /* Maintient les proportions */
  max-height: 500px; /* Limite la hauteur */
}
