<h1>List of your booking</h1>
<% if @bookings.any? %>
      <div class="mt-3 p-3">
        <h3>Produits trouvés :</h3>
        <%= render 'shared/grid_bookings', booking: @bookings%>
      </div>
    <% else %>
      <p>Aucun produit trouvé pour cette recherche.</p>
    <% end %>
  </div>
