<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h4>Services</h4>
      <ul>
        <li><a href="#">Louez du matériel</a></li>
        <li><a href="#">Rentabilisez votre matériel</a></li>
        <li><a href="#">Découvrir le catalogue</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>À propos</h4>
      <ul>
        <li><a href="#">Notre histoire</a></li>
        <li><a href="#">On recrute</a></li>
        <li><a href="#">Nouveautés <span class="new-badge">NEW</span></a></li>
        <li><a href="#">Roadmap <span class="new-badge">NEW</span></a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Assistance</h4>
      <ul>
        <li><a href="#">Centre d'aide</a></li>
        <li><a href="#">Aide locataire</a></li>
        <li><a href="#">Aide propriétaire</a></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-legal">
      <p>© 2024 Kiloutools</p>
      <ul>
        <li><a href="#">CGU</a></li>
        <li><a href="#">Confidentialité</a></li>
        <li><a href="#">Assurance</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</footer>
