
<div id="home-container">
  <div class="content">
    <h1>
      Louez de matériel de bricolage simplement,<br />
      partout en France !
    </h1>

    <p class="subtitle">
      Économisez jusqu'à 40% en louant auprès de professionnels d'une communauté sécurisée et vérifiée
    </p>

    <%= render "product_search_form_home" %>
  </div>
</div>
