.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px auto;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 860px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }

  grid-auto-rows: 1fr;
}

.product-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: none;
  background-color: white;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.disabled-card {
  pointer-events: none;
  background-color: #f0f0f0;
  opacity: 0.6;
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.card-header {
  position: relative;
  min-height: 180px;
  background-color: #e0e0e0;

  .availability {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e7f5e9;
    color: #34a853;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    z-index: 10;
  }

  .availability .status-circle {
    width: 8px;
    height: 8px;
    background-color: #34a853;
    border-radius: 50%;
    margin-right: 5px;
  }

  .profile-img {
    position: absolute;
    bottom: -30px;
    right: -15px;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    z-index: 10;
  }

  .price {
    position: absolute;
    background-color: #f1f3f5;
    color: #333;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    white-space: nowrap;
    bottom: -15px;
  left: 10px;
  }

  .product-card-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card-body {
  padding: 20px;
  text-align: left;
  flex-grow: 1;

  h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #333;
    text-align: left !important;
  }

  .location {
    font-size: 14px;
    color: #555;
    font-size: 0.75rem;
    width:70%;
    margin-top: 10px;
  }

  .description {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
  }
}

.card-footer {
  margin-top: auto;
  padding: 20px;

  .footer-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tag {
    background-color: #f1f3f5;
    color: #333;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    white-space: nowrap;
  }

  .rating {
    font-size: 14px;
    color: #f5b50a;
    margin: 10px 0;
  }

  .rating span {
    font-size: 12px;
    color:#555;
  }

  .btn{
    width: 100%;
  }
}
