.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100vw;
  top:0;
  position: fixed;
  z-index:1000;
  font-family: "poppins";
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 150px;
}

.navbar-lewagon .nav-link {
  font-size: 1rem;
  color: black;
}
