<%= render "shared/product_search_form" %>

<% if @products.any? %>
  <h2>Produits trouvés :</h2>
  <ul>
    <% @products.each do |product| %>
      <li>
        <strong><%= product.name %></strong><br>
        Lieu : <%= product.address %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun produit trouvé pour cette recherche.</p>
<% end %>
